<div class="app-container">
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <div class="sidebar">
        <ul>
            <li><a href="#contrapiso">Contrapiso</a></li>
            <li><a href="#carpeta-hidrofuga">Carpeta Hidrófuga</a></li>
            <li><a href="#alisado-cemento">Alisado de Cemento</a></li>
            <li><a href="#colocacion-mosaicos">Colocación de Mosaicos</a></li>
            <li><a href="#azotado-hidrofugo">Azotado Hidrófugo</a></li>
            <li><a href="#revoque-grueso">Revoque Grueso</a></li>
            <li><a href="#revoque-fino">Revoque Fino</a></li>
        </ul>
    </div>
    <div class="support-bar">
        <div>
            <h3>Apoyar</h3>
            <p>Por favor, apóyame si te gusta esta página. Eres bienvenido a enviarme una donación.</p>
            <p><strong>Alias:</strong> retak1ng</p>
        </div>
        <div class="social-links">
            <p><a href="https://www.github.com/retak1ng/" target="_blank">GitHub</a></p>
            <p><a href="https://www.linkedin.com/in/retak1ng/" target="_blank">Linkedin</a></p>
            <p><a href="https://www.instagram.com/martiin_rk/" target="_blank">Instagram</a></p>
        </div>
    </div>
</div>